<html>
    <head>
      <title>FlaskPlay</title>
      <meta charset = "UTF-8">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet" type = "text/css" href="/static/my_style.css">
      <link rel="stylesheet" type = "text/css" href="/static/my_style.css">
    </head>
    <body>
      <div class="topnav">
          <a href="/profiles">Profiles</a>
          <a href="/dashboard">Dashboard</a>
      </div>
        {% block content %}{% endblock %}
    </body>
</html>